---
import BaseLayout from "../layouts/BaseLayout.astro";
import Work from "../components/Work.astro";

import SOIImage from "../assets/images/ShootingOverIt.png"
import M3PImage from "../assets/images/Matching3Puzzle.png"
import MImage from "../assets/images/M.png"
import TEMImage from "../assets/images/THE_EYE_MACHINE.png"
import AstroImage from "../assets/images/dummyimage.png"

const pageTitle = "Works";
---

<BaseLayout pageTitle={pageTitle}>
  <p>These are my works in my whole life.</p>
  <p>Some of these are uncompleted...</p>
  <p>Don't expect too much.</p>
  <div>
    <Work
      title="Shooting Over It"
      image={SOIImage}
      date="2025-5-15"
      pageurl="https://unityroom.com/games/shootingoverit"
    >
    This game is my first work which upload to UnityRoom.
    Click to shot, WASD to moving.
    Very simple... but also very frustratable.
    As you expected, inspired by "Getting Over It".
    </Work>
    <Work
      title="Matching 3 Puzzle"
      image={M3PImage}
      date="2025-5-25"
      pageurl="https://unityroom.com/games/m3p"
    >
    So-called "practice work". (Not that it's anything fancy...)
    I researched how to make games in Unity through videos
    and created this by imitating what I saw.
    Since I was still getting used to Unity at the time,
    even this alone felt revolutionary to me.
    </Work>
    <Work
      title="M."
      image={MImage}
      date="2025-8-28"
      pageurl="https://unityroom.com/games/m-game"
    >
    As I created my work, I gradually gained knowledge,
    and this piece was made with the goal of creating something
    playable to a certain degree.
    Honestly, it's playable, but it's not fun...
    I got lazy with the UI partway through, so it's pretty rough around the edges.
    Looking at it now, I think, “Man, I was really trying back then.”
    </Work>
    <Work
      title="THE EYE MACHINE - demo"
      image={TEMImage}
      date="2026-1-16"
      pageurl="https://the-eye-machine.netlify.app/"
    >
    Dummy!
    </Work>
  </div>
</BaseLayout>