---
import { Image } from "astro:assets"
const { title, image, date, pageurl, descFL, desc } = Astro.props;
---

<div class="work">
    <div class="work-titles">
        <h3 class="work-title">{title}</h3>
        <p class="work-date">{date}</p>
    </div>
    <div class="flex">
        <a href={pageurl} class="work-image">
            <Image src={image} alt={title}/>
        </a>
        <p class="drop-cap-text w-80">
            <span class="first-letter">{descFL}</span>
            {desc}
        </p>
    </div>
</div>